.user-image {
  width: 40px;
  height: 40px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin-top: 8px;
}
.profile-status-icon {
  bottom: 0;
  right: -15px;
  color: green; /* or red for exclamation */
  font-size: 1.2em;
}

.profile-status-icon.fa-exclamation-circle {
  color: red;
}

.profile-status-icon.fa-check-circle {
  color: green;
}
/* Para MOBILE: menú a la derecha */
@media (max-width: 991.98px) {
  .notificaciones-dropdown {
    right: 0 !important;
    left: auto !important;
    transform: translateX(0%) !important;
  }
}

/* Para DESKTOP: menú a la izquierda */
@media (min-width: 992px) {
  .notificaciones-dropdown {
    left: 0 !important;
    right: auto !important;
    transform: translateX(0%) !important;
  }
}
