<div class="container-fluid p-5" *ngIf="!loading; else loader">
  <div
    class="mb-5 text-center d-flex justify-content-between align-items-center"
  >
  <div style="
  margin-right: -300%;">
    <h5  style="
  margin-right: -300%;" class="text-primary text-uppercase">Rutinas Para Todos</h5>
    <h1  style="
  margin-right: -300%;" class="display-3 text-uppercase mb-0">Mas Ejercicios</h1>
  </div>

     <a routerLink="/pages/preguntas-rutinas-test" class="btn btn-primary"
      >Hacer Prueba</a
    >
  </div>
  <div class="row g-5">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let rutina of rutinas">
      <div class="blog-item h-100 d-flex flex-column justify-content-between">
        <div class="position-relative overflow-hidden rounded-top">
          <img
            class="img-fluid w-100"
            [src]="'data:image/jpeg;base64,' + rutina.imagen"
            alt=""
           style="object-fit: contain; height: 300px; background-color: #000;"
          />
        </div>
        <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
          <a
            class="h5 text-uppercase text-light mb-0 text-center w-100"
            [href]="'/pages/rutinas-publicas/' + rutina.id"
          >
            {{ rutina.nombre }}
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #loader>
  <div class="text-center" style="margin-top: 5%">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Cargando Rutinas...</p>
  </div>
</ng-template>
